@import url('https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

.nav-link{
    border-bottom: 2px solid transparent;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1em !important;
    color: white !important;
}
